<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body, html {
      height: 100%;
    }

    .parallax {
      /* Full height */
      height: 100%;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .rain {
      background-image: url('https://c.pxhere.com/photos/e6/a9/highspeed_photography_water_drop_of_water_alien_dance_water_games_water_reflection_mirror_treatment_splash-680119.jpg!d');
    }

    .pig {
      background-image: url('http://theyearoflivingunofficially.com/wp-content/uploads/2011/07/YellowPigDay-300x201.png');
    }
    .firey{
      background-image: url('https://elementalawakening.files.wordpress.com/2013/02/white_fire_by_xkibax.png?w=672&h=372&crop=1')

    }
    .porky {
      background-image: url('https://successwithlesley.files.wordpress.com/2014/10/r-i-p-grave-stone-halloween-decoration-34707618.jpg')
    }
    .ending {
      background-image: url('https://res.cloudinary.com/teepublic/image/private/s--8NO2ZEJm--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1522247234/production/designs/2538305_0.jpg')
    }

  </style>
</head>
<body>

<p>Droplets falling slowly....</p>

<div class="parallax rain "></div>

<div style="height:100px; background-color:blue; font-size:36px">
The reflection always refecting
</div>

<div class="parallax pig"></div>

<div style="height:111px; background-color:red;font-size:40px">

</div>

<div class="parallax firey"></div>

<div style="height:111px; background-color:red;font-size:40px">
  boo
</div>

<div class="parallax rain"></div>
<div style="height:111px; background-color:GRAY;font-size:40px">
  RIP PORKY...
</div>
<div class="parallax porky"></div>

<div class="parallax ending"></div>
<div style="height:200px;background-color:blue;font-size:40px">
  THE END MY FRIENDS
  </div>
  

</body>
</html>
