<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>
    This shall be MeMeS!
  </title>
  <style type="text/css">
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      BACKGROUND-COLOR: crimson
    }

    body {
      background-color: purple
    }
  </style>

  <link rel="stylesheet" type="text/css" href="/~knuth/diamondsigns/style.css">
</head>

<body>
  <h1> Welc0me</h1>

  <h1>
    <a href="https://www.google.com/search?q=images+of+purple+crabs&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjzjefTj93gAhUPPN8KHTADDu4Q_AUIDigB&biw=1920&bih=902#imgrc=r9ifhMaIYEqXnM:">
      Frequently Asked MeMeS
    </a>
  </h1>
  <h1>
    <a href="http://roblox.com">
      Memes For sale
    </a>
  </h1>
  <h1>
    <a href="https://www.google.com/search?q=images+of+frogs&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjFvcDmjt3gAhXDhOAKHWZsD-kQ_AUIDigB&biw=1920&bih=902#imgrc=WneiJ9aXOx4U2M">
      suuuuuuper man
    </a>
  </h1>
  <h1>
    <a href="https://www.google.com/search?q=crab+rave+memes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiKy-Xu4-bgAhVpg-AKHe1OAmsQ_AUIDigB&biw=1920&bih=908#imgrc=o4J4XbfaZbgIvM">
      crab rave MEME
    </a>
  </h1>
  <h1>
    <a href="https://www.google.com/search?q=thanos+meme&source=lnms&tbm=isch&sa=X&sqi=2&ved=0ahUKEwizt7urh4DhAhUbyYsBHTfqBQQQ_AUIDigB&biw=1920&bih=897#imgrc=xkX3ZXvH80a4oM:">
      Known Memes
    </a>
  </h1>
  <h1>
    <a href="https://www.facebook.com/Vstolovke/videos/2221006921454821/?sfns=mo">
      memes Wanted
    </a>
  </h1>
  <h1>
    <a href="https://gfycat.com/gifs/search/fortnite+default+dance">
      Memes Signs</a>
  </h1>
  <h1>
    <a href="https://www.google.com/search?q=homemade+memes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjY-dLxn9_gAhUo2oMKHeIOA2EQ_AUIDigB&biw=1309&bih=902#imgrc=zSQn8LdrdgAqvM:">
      :>
    </a>
  </h1>
  <h1>
    <a href="https://www.google.com/search?q=banana+power+meme&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjcxKLcoN_gAhXMhOAKHT3zBEIQ_AUIDigB&biw=1309&bih=902#imgrc=uJz_68Z0x3lHeM:">
      memes power
    </a>
  </h1>
  <h1>
    <a href="https://www.google.com/search?biw=1309&bih=902&tbm=isch&sa=1&ei=ZkN4XNy8OqPr_Qb72I2wBA&q=PUTIPIE+IMAGE&oq=PUTIPIE+IMAGE&gs_l=img.3...9735.10947..11362...0.0..0.75.275.4......1....1..gws-wiz-img.EwUlW5nOiV0#imgrc=H8WJHJvimjOWCM:">
      <img  alt="*" style="vertical-align:middle" border=0 hspace=10>MEME KING</a>
  </h1>
  <h1>
    <a href="https://www.google.com/search?q=fortnite+memes&tbm=isch&source=iu&ictx=1&fir=rBOwBU57rwT8aM%253A%252CL52iwFMigYNe_M%252C_&usg=AI4_-kS2r4OLaINejWgNhi_6USNPiOmBKA&sa=X&ved=2ahUKEwjE04zT4-bgAhXJUt8KHc9BDCIQ9QEwAXoECAQQBg#imgrc=rBOwBU57rwT8aM:">
      <img " alt="*" style="vertical-align:middle" border=0 hspace=10><cite>MORE MEMES</cite></a>
    &nbsp;
    &nbsp;
    <img " alt=""><img src="new.gif" alt=""><img src="new-eagle.gif" alt="new!">
  </h1>
  <H2 style="COLOR:RED;FONT-SIZE:40PX">MEMES AWAY!!!</H2>
  <H2 style="Background-color:blue" media="screen">I LIKE TRAINS</H2>
  <h1>
    <a href="https://www.google.com/search?q=endless+memes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjfrrnlj4rhAhUShuAKHeSKDrkQ_AUIDigB&biw=935&bih=897#imgrc=I0MxaaHEbkfcqM:">
      <img  alt="*" style="vertical-align:middle" border=0 hspace=10>MY ENDLESS SUPLY OF  0] MEMES</a>
  </h1>
  <h1>
    <a href="https://www.google.com/search?q=lemon+memes&tbm=isch&source=iu&ictx=1&fir=eiJWVyhVuAO9IM%253A%252CouqbzgGdIpUbLM%252C_&usg=AI4_-kTIj8RxzdvdFcMD1UP1yMeX1r_iQg&sa=X&ved=2ahUKEwj1hr_D4ubgAhXuUN8KHTpXCgkQ9QEwBnoECAQQEA#imgrc=eiJWVyhVuAO9IM:">
      <img  alt="*" style="vertical-align:middle" border=0 hspace=10>Downloadabe lemons</a>
  </h1>
  <h1>
    <a href="https://www.google.com/search?q=PICTURES+OF+cheese&source=lnms&tbm=isch&sa=X&ved=0ahUKEwit6_Ct4ubgAhWjSt8KHZApCsQQ_AUIDigB&biw=1920&bih=908#imgrc=5U1m-gk1i6AAIM:">
      <img " alt="*" style="vertical-align:middle" border=0 hspace=10>Expecting a MEME from me?</a>
  </h1>
  <h1>
    <a href="https://www.google.com/search?q=MEME+MOUNTAIN&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjq5aOK4ubgAhXQT98KHexeBn8Q_AUIDigB&biw=1920&bih=908#imgrc=TyeDWtXkudOhSM:">
      <img  alt="*" style="vertical-align:middle" border=0 hspace=10>Did you borrow a meme?</a>
  </h1>
  <h6>
    <img src="https://giphy.com/gifs/vectary-game-design-3oFzmqnykCz2rMO3ok" alt="">&nbsp;
    &nbsp;
    <a href="https://www.google.com/search?tbm=isch&q=dog+poop+images&chips=q:dog+poo+images,g_1:toy&usg=AI4_-kQXtZPz9bql2uytVQF8Q3PLRTxwbQ&sa=X&ved=0ahUKEwiV6-fs4ebgAhXsUt8KHQE3Ck0Q4lYIKigC&biw=1920&bih=908&dpr=1#imgrc=E235dfBg0pjJ4M:">(don't click
      here)</a>
    &nbsp;<img " alt="">
  </h6>
  <IMG SRC="SCARY.JPG" />
  <h2>
    <a href="https://www.google.com/search?q=dumb+memes&tbm=isch&source=iu&ictx=1&fir=NhZ9whaQ1gKKRM%253A%252CRmmX35VIJ8NiPM%252C_&usg=AI4_-kTP7OGIBnHsw9eBoRprtXx0wlFPFg&sa=X&ved=2ahUKEwiVwqyI4-bgAhWqg-AKHazxBjwQ9QEwAHoECAIQBA#imgrc=NhZ9whaQ1gKKRM:">
      <img src="" class="xref" alt="">memes that dont matter
    </a>
  </h2>
  <a href="">
    <img "" a\
  <img "
  <h2>
  <a href="https://www.minecraft.net/en-us/">
   <img style="COLOR:RED;FONT SIZE:40PX"">get out my room i'm playing mincraft
   <h2/>
   <h6>
     <a href="https://www.google.com/search?q=oof+memes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiU0eq2iIDhAhWpc98KHQxxAfEQ_AUIDigB&biw=1920&bih=897#imgrc=6Su3lDfRqm7CAM:"
     <img style="COLOR:yellow;FONT SIZE:40PX">OOOOOOOOOOFFFF<H6/>
     <h2>
     <a href="https://www.google.com/search?q=do+you+know+the+way+meme+ultimate&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiDps27-I7hAhVqm-AKHQVsABUQ_AUIDigB&biw=935&bih=897#imgrc=BeLCCwmRTbGCyM:"
     <img style="COLOR:RED;FONT-SIZE:40PX">DO YOU KNOW THE WAYYY!!??!!?!?!(dont think of clicking or tapping here.)<h2/>
     <a/>
     <h2>
       <a href="https://www.google.com/search?q=naruto+memes&tbm=isch&source=iu&ictx=1&fir=xTF49-oYT64ZcM%253A%252C6JFJ84pkQPpq_M%252C_&vet=1&usg=AI4_-kRAr_agTDJMcRiGp1z0NB0xtS_iNQ&sa=X&ved=2ahUKEwj0t7_ZmIThAhWCmVkKHd3sC-YQ9QEwAXoECAAQBg#imgrc=mgFW0QRbjPpFcM:&vet=1"
       <img style="color:orange;Font-size:50px">NARRUUUTOOOO<h2/>
       <A/>
       <h6>
         <a href="https://www.google.com/search?biw=935&bih=897&tbm=isch&sa=1&ei=97qOXLXgJouRgge54LawAg&q=boi+&oq=boi+&gs_l=img.3..35i39j0i67l2j0l7.2543.3506..3956...0.0..0.68.287.5......1....1..gws-wiz-img.......0i8i30j0i24.pEKeazXK8cU#imgrc=dju1pZmMcKIrsM:"
        <img style="color:green;font size:40px">BOIIIIII<H6/>
        <A/>
        <H3>
          <a HREF="https://www.google.com/search?q=memes+from+manga&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjEg7qDkYrhAhVPPN8KHSJyDE0Q_AUIDigB&biw=935&bih=897#imgrc=ATNu3a9JwpADNM:"
          <img style=color:black;Font size:50px">manga and anime stuff
          <h3>
            <a href="https://www.google.com/search?q=anime+memes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjiypaEkorhAhXESt8KHa0zD3oQ_AUIDigB&biw=935&bih=897#imgrc=ie3oGe0_E4meQM:"
            <img style=color:white;font size:50px">anime stuff
            <h3>
              <a href="https://www.google.com/search?q=manga+memes&source=lnms&tbm=isch&sa=X&ved=0ahUKEwis5768k4rhAhXhRd8KHRO4DagQ_AUIDigB&biw=935&bih=897#imgrc=Y3VWomAfBbpRcM:"
              <img style=color:pink;font-size:40px">manga stuff
              <h3/>
            <A/>
</body>

</html>
